<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo List</title>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/assets/todo-list.js"></script>
</head>
<body>
  <h1>My Todo List</h1>
  <div id="todo-table">
    <form method="POST">
      <input type="text" name="item" placeholder="Add new item..." autocomplete="off" required />
      <button type="submit">Add Item</button>
    </form>
    <ul>
      <% for(var i = 0; i < todos.length; i++) { %>
        <li><%= todos[i].item %></li>
      <% } %>
    </ul>
  </div>
</body>
</html>